<h1>Listing types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Fields</th>
      <th>Priority</th>
      <th>Children</th>
      <th>Relations</th>
      <th>Extras</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.name %></td>
        <td><%= type.fields %></td>
        <td><%= type.priority %></td>
        <td><%= type.children %></td>
        <td><%= type.relations %></td>
        <td><%= type.extras %></td>
        <td><%= link_to 'Show', type %></td>
        <td><%= link_to 'Edit', edit_type_path(type) %></td>
        <td><%= link_to 'Destroy', type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type', new_type_path %>
